<h2>My Courses</h2>
<div>
  <label>Course name:
    <input #courseName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(courseName.value); courseName.value=''">
    add
  </button>
</div>
<ul class="courses">
  <li *ngFor="let course of courses">
    <a routerLink="/detail/{{course.id}}">
      <span class="badge">{{course.id}}</span> {{course.name}}
    </a>
    <button class="delete" title="delete course"
    (click)="delete(course)">x</button>
  </li>
</ul>